<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/_assets/css/theme.min.css">
	<title>Document</title>
</head>
<body>
<% var ttl_test = 'よかよかテンプレート - EJS Demo'; %>
<% var txt_test = 'このページは EJS で生成されました。'; %>

<h1><%= ttl_test %></h1>
<div class="test"><%= txt_test %></div>
<figure>
	<img src="/_assets/img/c001.jpg" alt="画像1">
	<img src="/_assets/img/c002.jpg" alt="画像2">
</figure>

</body>
</html>
